main{
    padding: 57px 27px;
    color:white;
    background-image: url(../images/logo512.png);
    background-repeat: no-repeat;
    background-position-x:right ;
    background-position-y:100;
    
}

.main--title{
margin: 0;
font-size:39px;
letter-spacing: -0.05em;
font-family: Inter;
}
.main--facts{
    margin-top: 46px;
    max-width: 450px;
}
.main--facts > li{
    line-height: 19px;
    padding-block: 10px;
}
.main--facts > li::marker{
    font-size: 32px;
    color: #61DAFB;
}